/** {
  outline: 1px solid red !important;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Josefin Slab", serif;
  background: black;
}

input {
  background: grey;
  font-size: 18px;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

.mover {
  position: fixed;
  /*width: 256px;*/
  z-index: -1;
  /* https://discussions.udacity.com/t/fps-metrics-question/3349/18 */
  /* added vendor prefix */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background:url(../images/pizza-sm.png);
  /*display:inline-block;*/
  height:100px;
  width:73.33px;
  /*will-change: transform;*/
  transform: translateZ(0);
  transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
  -webkit-transform: translate3d(0,0,0);


 }
/*
.bgPizza {
    background:url(images/pizza-sm.png);
    display:inline-block;
    height:100px;
    width:73.33px;
}
*/
.randomPizzaContainer {
  float: left;
  display: flex;
}

.movingPizzas1{

}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

 .container {
  background-color: rgba(240, 60, 60, 0.8);
}
